<h2>Your books by <%=@author.name%></h2>

<% current_user.books.each do |book| %>
  <%  if book.author.id = @author.id %>
    <%=    <li><a href="/my-library/<%=book.id%>"><%=book.title%></a></li> %>
    <%  end %>
<% end %>
