This is the page you should go to when you log in.

It lists and links to your books

<h2>Welcome, <%= current_user.username %></h2>
<% @books.each do |book| %>
  <div style="border:2px solid black">
    <a href="/my-library/<%=book.id%>"><h4><%= book.title %></h4></a>
    <p><%= book.author%></p>
  </div>
<%end%>


<a href="/logout">Log out</a>
