<h2>Add a book to your collection:</h2>
<p><i>* marks a required field.</i></p>
<form action="/my-library" method="post">
  <h4>Title* <input type="text" name="title"></h4>
  <p><b>Author* </b><input type="text" name="author"></p>
  <p>I've read this book <input type="checkbox" name="read_it" checked> <input type="number" name="times_read" value="1" style="width: 40px"> times</p>
  <p>I own this book <input type="checkbox" name="own_it"></p>
  <p>This book is stored <input type="text" name="location"></p>
  <p>Comments on this book</p>
  <textarea name="comments" rows="5" cols="60"></textarea>
  <p>Would you like to get Goodreads info on this book? <input type="checkbox" name="get_goodreads?"></p>
  <input type="submit" value="Add this book">
</form>
