<h2>Add a book to your collection:</h2>
<p><i>* marks a required field.</i></p>
<form action="/my-library" method="post">
  <h4>Title* <input type="text" name="title"></h4>
  <p><b>Author* </b><input type="text" name="author"></p>
  <p>This book is stored <input type="text" name="location"></p>
  <p>Comments on this book</p>
  <textarea name="comments" rows="5" cols="60"></textarea>
  <input type="submit" value="Add this book">
</form>
