<!DOCTYPE html>
<html>
  <head>

    <% if flash.has?(:message) %>
      <h3><i><%= flash[:message] %></i></h3>
    <% end %>
    <!--
     Frank Sinatra

  -->
  </head>
  <body>
    <%= yield %>
  </body>

</html>
