<!DOCTYPE html>
<html>
  <head>

    <% if flash.has?(:message) %>
      <h3><%= flash[:message] %></h3>
    <% end %>
    <!--
     Frank Sinatra

  -->
  </head>
  <body>
    <%= yield %>
  </body>

</html>
